<h1> Create New Bulk Discount</h1>

<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, local: true do |f| %>
	<p><%= f.label :name, "Name" %></p>
	<p><%= f.text_field :name, required: true %></p>

	<p><%= f.label :percentage_discount, "Percentage Discount (as decimal)" %></p>
	<p><%= f.text_field :percentage_discount, required: true, type: :number %></p>

	<p><%= f.label :quantity_threshold, "Quantity Threshold"%></p>
	<p><%= f.text_field :quantity_threshold, required: true, type: :number %></p>

	<p><%= f.submit "Submit", required: true %></p>
<% end %>